<div class="row justify-content-center mt-3">
    <div class="col-md-2">
        <select class="form-control">
            <option>All Makes</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>Mileage</option>
            <option value="low">Low</option>
            <option value="high">High</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>Min Year</option>
            <option value="2000">2000</option>
            <option value="2010">2010</option>
            <option value="2020">2020</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>Max Year</option>
            <option value="2000">2000</option>
            <option value="2010">2010</option>
            <option value="2020">2020</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control" >
            <option>Min Price</option>
            <option value="1000">€1000</option>
            <option value="5000">€5000</option>
            <option value="10000">€10000</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>Max Price</option>
            <option value="1000">€5000</option>
            <option value="5000">€10000</option>
            <option value="10000">€20000</option>
        </select>
    </div>