<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">

            <div class="col-md-3 mb-3">
                <h5 class="fw-bold">TUD Motors</h5>
                <p class="small">For all of Ireland's Trusted Car Dealerships</p>
                <p class="small">TUD Motors Ltd., Ireland </p>
                <!-- Social Icons -->
                <div class="d-flex gap-2">
                    <a href="#" class="text-light"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
                </div>
                {% if user.is_authenticated%}
                <form method="post" action="{% url 'logout' %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light">Logout</button>
                </form> 
                {% else%}
                <a href="{% url 'login' %}"><button class="btn btn-outline-light btn-sm mt-3">Sign in</button></a>
                {% endif %}
            </div>

            <!-- Explore Section -->
            <div class="col-md-2 mb-3">
                <h6 class="fw-bold">Explore</h6>
                <ul class="list-unstyled small">
                    <li><a href="{% url 'shop:prod_list' %}" class="text-light text-decoration-none">Cars for sale</a></li>
                    <li><a href="{% url 'shop:make_list' %}" class="text-light text-decoration-none">All Sections</a></li>
                    <li><a href=" {% url 'shop:create_car_listing' %}" class="text-light text-decoration-none">Sell My Car</a></li>
                </ul>
            </div>

            <!-- Customer Happiness Section -->
            <div class="col-md-2 mb-3">
                <h6 class="fw-bold">Customer Happiness</h6>
                <ul class="list-unstyled small">
                    <li><a href="{% url 'shop:contactus' %}" class="text-light text-decoration-none">Help</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Stay Safe</a></li>
                    <li><a href="{% url 'shop:contactus' %}" class="text-light text-decoration-none">Contact Us</a></li>
                  
                </ul>
            </div>

            <!-- About Us Section -->
            <div class="col-md-2 mb-3">
                <h6 class="fw-bold">About Us</h6>
                <ul class="list-unstyled small">
                    <li><a href="{% url 'shop:about' %}" class="text-light text-decoration-none">Our Story</a></li>
                    
                </ul>



                <!-- Footer Bottom -->
                <div class="text-center small mt-4 border-top pt-3">
                    <a href="#" class="text-light text-decoration-none me-3">Legal</a>
                    <a href="#" class="text-light text-decoration-none me-3">Privacy & Cookies</a>
                    <p class="mt-2">&copy; 2023-2024 All Rights Reserved</p>
                </div>
            </div>
</footer>