<nav style="background: url(static/images/background.png); background-size: cover; background-position: center; color: white; min-height: 639px;">
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center">

        <div class="text-center mt-4">
            {% if user.is_authenticated %}
                <h1 style="font-size: 2.5rem; font-weight: bold;">Welcome {{ user.username }}!</h1>
            {% endif %}
            <p class="lead">Ireland's best second hand car dealership</p>
            <p class="lead">Browse through thousands of cars to find your perfect match.</p>
            <div class="row justify-content-center mt-3">
                <div class="col-md-2">
                    <select class="form-control">
                        <option>All Makes</option>
                        
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>Mileage</option>
                        <option value="low">Low</option>
                        <option value="high">High</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>Min Year</option>
                        <option value="2000">2000</option>
                        <option value="2010">2010</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>Max Year</option>
                        <option value="2000">2000</option>
                        <option value="2010">2010</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control" >
                        <option>Min Price</option>
                        <option value="1000">€1000</option>
                        <option value="5000">€5000</option>
                        <option value="10000">€10000</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>Max Price</option>
                        <option value="1000">€5000</option>
                        <option value="5000">€10000</option>
                        <option value="10000">€20000</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block" style="margin-top: 10%;">Search Cars</button>
                </div>
            </div>
        </div>
        
    </div>
</nav>