<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex justify-content-between w-100 px-3">
        <a class="navbar-brand text-light" href="{% url 'home' %}">TUD Motors</a>
            <div class="container-fluid" style="width: 30%;">
                <form class="d-flex" action="" method ="get">
                    <input name = "q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-light">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-outline-light mr-2">Sign Up</a>
                    <a href="{% url 'login' %}" class="btn btn-outline-light">Log In</a>
                {% endif %}
            </div>
    </div>
</nav>
