<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex justify-content-between w-100 px-3">
        <a class="navbar-brand text-light" href="{% url 'home' %}">TUD Motors</a>
        <div class="container-fluid" style="width: 30%; margin-left: 27em;">
            <form class="d-flex" action="{% url 'search_app:searchResult' %}" method="get">
                <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
        <div class="d-flex btn btn-outline-dark" style="color: white; margin-right: 2%;">
            <li class="nav-item d-flex flex-column" style="margin-right: 1em;">
                <a class="nav-link" href="{% url 'cart:cart_detail' %}">Your Cart</a>
            </li>
            {% if item_count > 0 %}
            <li class="nav-item d-flex">
                <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i
                        class="fas fa-shopping-cart">({{item_count}})</i></a>
            </li>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="mr-auto">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> {{ user.username }} </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        
                        <form method="post" action="{% url 'logout' %}" class="d-inline">
                            {% csrf_token %}
                            {% if user.profile %}
                            <a class="btn btn-outline-dark" href="{% url 'show_profile' user.profile.pk %}">View Profile</a>
                            {% endif %}
                            <a class="btn btn-outline-dark" href="{% url 'order:order_history' %}">Order History</a>
                            <a class="btn btn-outline-dark" href="{% url 'password_change' %}">Change Password</a>
                            <a class="btn btn-outline-dark" href="{% url 'password_reset' %}">Reset Password</a>
                        </form>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <form method="post" action="{% url 'logout' %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark">Logout</button>
                            </form>
                        </li>
                       
                    </ul>
                </li>
               {% else %}
            </ul>
        </div>
        <div class="mr-auto">
            <form class="form d-flex">
                <a href="{% url 'login' %}" class="btn btn-outline-light" style="width: 5em;">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-outline-light" style="width: 5em;">Sign up</a>
            </form>
        </div>
        {% endif %}
    </div>
    </div>
</nav>